#jumbo {
/* background-color: #1925ce;  */
/* background-image: url("team.png"); */
background-size: cover;
height: 30%;
width:100%;
}
h1.text-center {
    color: white;
}
.card-header {
    background-color: #147bf3;
}
.card-title {
    color: white;
}
.card-body {
    background-color: #f6f7f8;
}